img {
    width:200px;
    height:200px;
    margin:15px;
    box-shadow:0px 0px 5px black;
    background:rgb(192, 242, 242)
}
img:hover {
    transform: scale(1.2);
}
.score {
    padding-top:20px;
    padding-bottom:20px;
    background:black;
    color:white;
    font-size:25px;
}
.game-area{
    margin-top:10px;
}

.game-heading{
    padding-top:50px;
    padding-bottom:50px;
    background:black;
    margin-bottom:10px;
}
.score, .game-heading{
    font-family: 'Courgette', cursive;
}
.game-name{
    font-size:70px;
    font-weight:bold;
    color:black;
    text-shadow:0px 0px 20px rgb(192, 242, 242);
    font-family: 'Permanent Marker', cursive;
}
.scoreboard{
    text-decoration: underline;
    font-size:25px;
}

p{
    color:rgb(208, 203, 203);
    font-size:20px;
}

@media screen and (max-width: 1199px){
    img {
        width:200px;
        height:200px;
        margin:25px;
    }
}

@media screen and (max-width: 991px){
    img {
        width:230px;
        height:230px;
        margin:25px;
    }
}

@media screen and (max-width: 767px) {
    img {
        width:200px;
        height:200px;
        margin:25px;
    }
}

@media screen and (max-width: 575px) {
    img {
        width:400px;
        height:400px;
    }
    .score{
        width:100vw;
    }
}